body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #808080;
}

form {
    background-color: rgb(190, 179, 164);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    border-radius: 2%;
}

fieldset {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
}

button {
    margin-left: 30%;
    margin-top: 15%;
    border-radius: 5%;
}
button:hover {
    background-color: rgba(0, 255, 255, 0.255);
}